@mixin clearfix {
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


//MEDIA QUER|Y MANAGER

/*

0-600 :      Phone
600-900:     Tablet Portrait
900-1200:    Tablett Landscape

1200-1800:   Default styles apply

1800+:       Big Desktop


ORDER: Base + typography > general layout + grid > page layout > components
*/


@mixin respond-phone {
  @media (max-width: 600px){ @content };
}


/*
$breakpoint argument choices:

-phone
-tab-port
-tab-land
-big-desktop
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em){ @content }; //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em){ @content };  //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em){ @content };  //1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em){ @content };  //1800px
  }
}
