// COLORS
$green-light: #7ed56f;
$green-medium: #55c57a;
$green-dark: #28b485;
$color-grey-dark: #777;
$color-grey-dark-2: #838383;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000000;
$orange-light: #ffb900;
$orange-dark: #ff7730;
$blue-light: #2998ff;
$blue-dark: #5643aa;


// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;


// FONT
$default-font-size: 1.6rem;

// CARD
$card-height: 52rem;


// SHADOW
$box-shadow-large: 0 1.5rem 4rem rgba($color-black, .15);


//BORDER RADIUS
$default-border-radius: 3px;
