
.btn{

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    //Change for <button> element
    border: none;
    cursor: pointer;
    }


  &:hover{
      transform: translateY(-.3rem);
      box-shadow: 0 .7rem 1.5rem rgba($color-black, .3);
  };

  &--animated{
    animation: moveInBottom 1s ease-in-out .5s;
    animation-fill-mode: backwards;
  }

  &:active,
  &:focus{
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 .4rem 1rem rgba($color-black, .3);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after{
      background-color: $color-white;
      color: $color-grey-dark;
    }
  }

  &--green {
    background-color: $green-light;
    color: $color-white;

    &::after{
      background-color: $green-light;
      color: $color-white;
    }
  }

  &-text{
    &:link,
    &:visited{
      color: $green-light;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $green-light;
      padding: 3px;
      font-size: $default-font-size;
      transition: all .2s;
    }

    &:hover{
      background-color: $green-light;
      color: $color-white;
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }

    &:active{
      transform: translateY(0);
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }
  }

  &::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &:hover::after {
      transform: scaleX(1.4) scaleY(1.8);
      opacity: 0;
  }
}
