.card{

  //FUNCTIONALITY

  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: $card-height;

  &__side{
    height: $card-height;
    transition: all .5s ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: $default-border-radius;
    overflow: hidden;
    box-shadow: $box-shadow-large;

    &--front{
      background-color: $color-white;
    }

    &--back{
      transform: rotateY(180deg);

      &-1{
        background-image: linear-gradient(to bottom right, $orange-light, $orange-dark);
      }
      &-2{
        background-image: linear-gradient(to bottom right, $green-light, $green-dark);
      }
      &-3{
        background-image: linear-gradient(to bottom right, $blue-light, $blue-dark);
      }

    }
  }

  &:hover &__side--front{
      transform: rotateY(-180deg);
    }

  &:hover &__side--back{
      transform: rotateY(0);
    }

  //FRONT SIDE STYLING
  &__picture{
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 85%, 0 100%);

    &--1{
      background-image: linear-gradient(to bottom right, $orange-light, $orange-dark), url(../img/nat-5.jpg);
    }
    &--2{
      background-image: linear-gradient(to bottom right, $green-light, $green-dark), url(../img/nat-6.jpg);
    }
    &--3{
      background-image: linear-gradient(to bottom right, $blue-light, $blue-dark), url(../img/nat-7.jpg);
    }
  }

  &__heading{
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
  }

  &__heading-span{
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1{
      background-image:
      linear-gradient(to bottom right, rgba($orange-light, .85), rgba($orange-dark, .85));
    }
    &--2{
      background-image:
      linear-gradient(to bottom right, rgba($green-light, .85), rgba($green-dark, .85));
    }
    &--3{
      background-image:
      linear-gradient(to bottom right, rgba($blue-light, .85), rgba($blue-dark, .85));
    }
  }

  &__details{
    padding: 3rem;
    ul{
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li{
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child){
          border-bottom: 1px solid $color-grey-light-2;
        }

      }
    }
  }

  // BACKSIDE STYLING
  &__cta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box{
    color: $color-white;
    margin-bottom: 4rem;
  }

  &__price-only{
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value{
    font-size: 6rem;
    font-weight: 100;
  }






  @include respond(tab-port){
    //FUNCTIONALITY
    height: auto;
    border-radius: $default-border-radius;
    background-color: $color-white;
    box-shadow: $box-shadow-large;

    &__side{
      height: auto;
      position: relative;
      box-shadow: none;


      &--back{
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

      }
    }

    &:hover &__side--front{
        transform: rotateY(0);
      }

    &__details{
      padding: 1rem 3rem;
    }


    // BACKSIDE STYLING
    &__cta{
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box{
      margin-bottom: 3rem;
    }


    &__price-value{
      font-size: 4rem;
    }

  }
}
