.composition{
  position: relative;

  &__photo{
    width: 55%;
    box-shadow: $box-shadow-large;
    border-radius: $default-border-radius;
    position: absolute;
    z-index: 20;
    transition: all .2s;
    outline-offset: 2rem;

    @include respond(tab-port){
      float: left;
      position: relative;
      width: 33.3333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .20);
    }

    &--p1{
      left: 0;
      top: -2rem;

      @include respond(tab-port){
        top: 0;
        transform: scale(1.2);
      }
    }
    &--p2{
      right: 0;
      top: 4rem;

      @include respond(tab-port){
        top: 0;
        transform: scale(1.3);
        z-index: 100;
      }
    }
    &--p3{
      left: 25%;
      top: 15rem;

      @include respond(tab-port){
        top: 0;
        left: 0;
        transform: scale(1.2);
      }
    }

    &:hover{
      outline: 1.5rem solid $green-light;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 40;
    }
  }
  &:hover &__photo:not(:hover){
    transform: scale(.95);
  }
}
