.feature-box{
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: $default-border-radius;
  box-shadow: $box-shadow-large;
  transition: all .3s;

  @include respond(tab-port){
    padding: 2rem;
  }


  &__icon{
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, $green-light, $green-medium);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;

    @include respond(tab-port){
      margin: 0;
    }
  }

  &:hover{
    transform: scale(1.03) translateY(-1.5rem);
  }
}
