.popup{
  display: inline-block;
  z-index: 3000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .9);

  opacity: 0;
  visibility: hidden;

  transition: all .3s;





  &__content{
    @include absolute-center;
    display: table;
    width: 80%;
    background-color: $color-white;
    border-radius: $default-border-radius;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.2);
    transition: all .4s .2s;

    @include respond(tab-port){
      height: 75%;
      display: block !important;
    }
  }

  &__left{
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-port){
      display: flex;
      flex-direction: row;
      height: 40%;
      width: 100%;
    }
  }

  &__right{
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port){
      display: flex;
      flex-direction: column;
      width: 100%
    }
  }

  &__img{
    display: block;
    width: 100%;


    @include respond(tab-port){
      display: inline;
      float: left;
      width: 50%;
    }

  }

  &__text{
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
  }

  &:target{
    opacity: 1;
    visibility: visible;
  }

  &:target &__content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close{
    &:link,
    &:visited{
      color: $color-grey-dark;
      position:absolute;
      top: 2.5rem;
      right: 2.5rem;
      text-decoration: none;
      display: inline-block;
      font-size: 3.5rem;
      transition: all .3s;
      line-height: 1;
    }

    &:hover{
      color: $green-light;
    }
  }
}
