.story{
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .2);
  background-color: rgba($color-white, .66);
  border-radius: $default-border-radius;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);


  @include respond(tab-port){
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone){
    transform: skewX(0);
  }


  &__shape{
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-3rem);
    position: relative;


    @include respond(phone){
      transform: skewX(0) translateX(-3rem);
    }
  }

  &__image{
    height: 100%;
    transform: scale(1.2) translateX(-3.5rem);
    transition: all .4s ease-out;
  }

  &__text{
    transform: skewX(12deg);

    @include respond(phone){
      transform: skewX(0);
    }
  }

  &__caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    backface-visibility: hidden;
  }

  &:hover &__caption{
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image{
    transform: scale(1) translateX(-3.5rem);
    filter: blur(3px) brightness(75%);
  }
}
