@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
  20%{
    transform: translateX(2rem);
  }
  50%{
    opacity: 1;
    transform: translateX(0);
  }

  70%{
    transform: rotate(2deg);
  }
  73%{
    transform: rotate(-4deg);
  }
  76%{
    transform: rotate(4deg);
  }
  79%{
    transform: rotate(-6deg);
  }
  82%{
    transform: rotate(2deg);
  }
  85%{
    transform: rotate(-6deg);
  }
  88%{
    transform: rotate(3deg);
  }
  91%{
    transform: rotate(-6deg);
  }
  100%{
    transform: rotate(0);
  }


}
@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }

  80%{
    transform: translateX(-2rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0%{
    opacity: 0;
    transform: translateY(5rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes shake {
  10%{
    transform: rotate(2deg);
  }
  23%{
    transform: rotate(-4deg);
  }
  36%{
    transform: rotate(4deg);
  }
  49%{
    transform: rotate(-6deg);
  }
  62%{
    transform: rotate(2deg);
  }
  75%{
    transform: rotate(-6deg);
  }
  88%{
    transform: rotate(3deg);
  }
  100%{
    transform: rotate(0);
  }
}
