.section-about{
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port){
    padding: 20rem 0;
  }


}

.section-features{
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($green-light, 0.8),
    rgba($green-dark,0.8)),
    url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-6deg);

  & > * {
    transform: skewY(6deg);
  }

  @include respond(tab-port){
    padding: 15rem 0;
  }
}

.section-tours{
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port){
    padding: 20rem 0 10rem 0;
  }
}


.section-stories{
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.section-book{
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $green-light, $green-dark);

  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(110deg,
                                    rgba($color-white, .8) 0%,
                                    rgba($color-white, .8) 50%,
                                    transparent 50%),
                    url("../img/nat-10.jpg");
  background-size: 100%;
  border-radius: $default-border-radius;
  box-shadow: 0 1.5rem 3rem rgba($color-black, .25);


  @include respond(tab-land){
    background-image: linear-gradient(110deg,
                                      rgba($color-white, .8) 0%,
                                      rgba($color-white, .8) 65%,
                                      transparent 65%),
                      url("../img/nat-10.jpg");
    background-size: cover;
  }


  @include respond(tab-port){
    background-image: linear-gradient(to right,
                                      rgba($color-white, .8) 0%,
                                      rgba($color-white, .8)),
                      url("../img/nat-10.jpg");
    background-size: cover;
  }


  &__form{
    width: 50%;
    padding: 6rem;

    @include respond(tab-land){
      width: 65%;
    }
    @include respond(tab-port){
      width: 100%;
    }
  }
}
